.rc-color-picker-panel{
	background-color: map-deep-get($colors, "light", "colorPicker", "background");
}

.rc-color-picker-panel-inner{
	box-shadow: map-deep-get($colors, "light", "colorPicker", "boxShadow");
	border: map-deep-get($colors, "light", "colorPicker", "border");
}
