.profile-top{
	background: map-deep-get($colors, "light", "profile", "top", "background");
	color: map-deep-get($colors, "light", "profile", "top", "text");
}

.profile-bottom{
	.column{
		background: map-deep-get($colors, "light", "profile", "bottom", "background");
	}

	.column:hover{
		background: map-deep-get($colors, "light", "profile", "bottom", "hover");
		color: map-deep-get($colors, "light", "profile", "bottom", "hoverText");

		&.no-hover{
			background: map-deep-get($colors, "light", "profile", "bottom", "background");
		}
	}
}

.button.is-profile{
	background-color: map-deep-get($colors, "light", "profile", "themeButton", "background");
	border-color: map-deep-get($colors, "light", "profile", "themeButton", "border");
	color: map-deep-get($colors, "light", "profile", "themeButton", "color");
}

.user-settings {
	.user-modal-form-group{
		&.has-error{
			input{
				border-bottom: 1px solid map-deep-get($colors, "light", "profile", "settings", "account", "input", "error", "border-bottom");
			}
		}
	}
}