//@import "variables";

/**
 * Chat styles
 */

body.theme-dark{
	#chat-container {
		background-color: map-deep-get($colors, "dark", "chat", "container", "background");
	}

	#chat-messages {
		li {
			background-color: map-deep-get($colors, "dark", "chat", "message", "even", "background");
			color: map-deep-get($colors, "dark", "chat", "message", "even", "color");

			&:nth-child(odd) {
				background-color: map-deep-get($colors, "dark", "chat", "message", "odd", "background");
				color: map-deep-get($colors, "dark", "chat", "message", "odd", "color");
			}

			&.chatBottom{
				background-color: map-deep-get($colors, "dark", "chat", "container", "background");
			}
		}
	}

	.chat-input{
		.field{
			.control{
				.input{
					box-shadow: 0 1px 2px map-deep-get($colors, "dark", "chat", "inputShadow");
				}
			}
		}
		.button{
			background-color: map-deep-get($colors, "dark", "chat", "button", "background", "normal");
			color: map-deep-get($colors, "dark", "chat", "button", "text");

			&:hover{
				background-color: map-deep-get($colors, "dark", "chat", "button", "background", "hover");
			}

			&:active{
				background-color: map-deep-get($colors, "dark", "chat", "button", "background", "active");
			}
		}
	}

	#emoji-picker-toggle{
		&:hover{
			background-color: map-deep-get($colors, "dark", "chat", "button", "background", "normal");
			color: map-deep-get($colors, "dark", "chat", "button", "text");
		}
	}

	.emoji-mart{
		color: map-deep-get($colors, "dark", "emojiPicker", "color");
		background: map-deep-get($colors, "dark", "emojiPicker", "background");

		.emoji-mart-category-label{
			span {
				background-color:  map-deep-get($colors, "dark", "emojiPicker", "category", "background");
			}
		}

		.emoji-mart-emoji{
			&:hover{
				&:before {
					background-color:  map-deep-get($colors, "dark", "emojiPicker", "hover", "background");
				}
			}
		}
	}
	
	.chat-even{
		background-color:  map-deep-get($colors, "dark", "chat", "message", "even", "background");
	}

	.chat-odd{
		background-color: map-deep-get($colors, "dark", "chat", "message", "odd", "background");
	}
}

