@import 'variables';

body.theme-dark{
	.rc-color-picker-panel{
		background-color: map-deep-get($colors, "dark", "colorPicker", "background");
	}

	.rc-color-picker-panel-inner{
		box-shadow: map-deep-get($colors, "dark", "colorPicker", "boxShadow");
		border: map-deep-get($colors, "dark", "colorPicker", "border");
	}
}