body.theme-dark{
	.FAB {
		&__action-button {
			&:hover {
				.action-button{
					&__text{
						background-color: map-deep-get($colors, "dark", "FAB", "text", "background");
						color: map-deep-get($colors, "dark", "FAB", "text", "color");
					}
				}
			}

			.action-button{
				&__text {
					color: map-deep-get($colors, "dark", "general", "background");
				}
			}
		}
	}
}