body.theme-dark{
	.gamebrowser{
		&__table{
			background-color: map-deep-get($colors, "dark", "gameBrowser", "header", "background");
			color: map-deep-get($colors, "dark", "gameBrowser", "header", "color");
		
			tbody{
				tr {
					color: map-deep-get($colors, "dark", "gameBrowser", "color");
					background: map-deep-get($colors, "dark", "gameBrowser", "background");

					&:nth-child(odd) {
						background: map-deep-get($colors, "dark", "gameBrowser", "oddBackground");
					}

					&:hover{
						background: map-deep-get($colors, "dark", "gameBrowser", "hover");
						color: map-deep-get($colors, "dark", "gameBrowser", "hoverText");
					}

					&.selected{
						background: map-deep-get($colors, "dark", "gameBrowser", "hover");
						color: map-deep-get($colors, "dark", "gameBrowser", "hoverText");
					}
				}
			}

			thead {
				tr {
					th {
						color: map-deep-get($colors, "dark", "gameBrowser", "header", "color");
					}
				}
			}
		}
	}
}