// VARIABLES // ============================== //
$theme-dark-bg-color: map-deep-get($colors, "dark", "mdlInput", "background");
$theme-dark-title-color: map-deep-get($colors, "dark", "mdlInput", "title", "color");
$theme-dark-hl-color: map-deep-get($colors, "dark", "mdlInput", "hl", "color"); // Button etc
$theme-dark-hl-danger-color: map-deep-get($colors, "dark", "mdlInput", "hl", "danger"); // Button etc

$theme-dark-muted-color: mix(white, map-deep-get($colors, "dark", "general", "background"), 70%);
$theme-dark-trans-time: 300ms;
$theme-dark-width: 90%;

body.theme-dark{

	// INPUTS // ============================== //

	form.mdl-form{
		h1 {
			color: $theme-dark-title-color;
		}
		h5 {
			color: $theme-dark-muted-color;
		}

		input,
		textarea {
			color: map-deep-get($colors, "dark", "mdlInput", "textColor");
			border-bottom: 1px solid $theme-dark-muted-color;
			&:focus {
				outline: none;
			}
			&:focus ~ label,
			&:valid ~ label {
				color: $theme-dark-hl-color;
			}
		}

		label {
			color: $theme-dark-muted-color;
		}

		.bar {
			&:before {
				background: $theme-dark-hl-color;
			}
		}

		// BUTTONS // ============================== //
		.btn {
			background: #fff;
			color: mix(black, $theme-dark-muted-color, 25%);
			&:hover {
				color: mix(black, $theme-dark-muted-color, 30%);
				box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
			}
			&.btn-link {
				background: $theme-dark-hl-color;
				color: mix(white, $theme-dark-hl-color, 80%);
				&:hover {
					background: darken($theme-dark-hl-color, 5%);
					color: mix(white, $theme-dark-hl-color, 85%);
				}
			}
			&.btn-submit {
				background: $theme-dark-hl-color;
				color: mix(white, $theme-dark-hl-color, 70%);
				&:hover {
					background: darken($theme-dark-hl-color, 5%);
					color: mix(white, $theme-dark-hl-color, 85%);
				}
			}

			&.btn-danger{
				background: $theme-dark-hl-danger-color;
				color: mix(white, $hl-color, 70%);
				&:hover {
					background: darken($theme-dark-hl-danger-color, 5%);
					color: mix(white, $theme-dark-hl-danger-color, 85%);
				}
			}

			&.btn-cancel {
				background: #eee;
				&:hover {
					background: darken(#eee, 5%);
					color: mix(black, $theme-dark-muted-color, 30%);
				}
			}
		}
	}

	.mdl-btn {
		background: #fff;
		color: mix(black, $theme-dark-muted-color, 25%);
		&:hover {
			color: mix(black, $theme-dark-muted-color, 30%);
			box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
		}
		&.btn-link {
			background: $theme-dark-hl-color;
			color: mix(white, $theme-dark-hl-color, 80%);
			&:hover {
				background: darken($theme-dark-hl-color, 5%);
				color: mix(white, $theme-dark-hl-color, 85%);
			}
		}
		&.btn-submit {
			background: $theme-dark-hl-color;
			color: mix(white, $theme-dark-hl-color, 70%);
			&:hover {
				background: darken($theme-dark-hl-color, 5%);
				color: mix(white, $theme-dark-hl-color, 85%);
			}
		}

		&.btn-danger{
			background: $theme-dark-hl-danger-color;
			color: mix(white, $hl-color, 70%);
			&:hover {
				background: darken($theme-dark-hl-danger-color, 5%);
				color: mix(white, $theme-dark-hl-danger-color, 85%);
			}
		}

		&.btn-cancel {
			background: #eee;
			&:hover {
				background: darken(#eee, 5%);
				color: mix(black, $theme-dark-muted-color, 30%);
			}
		}
	}
}