body.theme-dark{
	.profile-top{
		background: map-deep-get($colors, "dark", "profile", "top", "background");
		color: map-deep-get($colors, "dark", "profile", "top", "text");

		.title{
			color: map-deep-get($colors, "dark", "profile", "top", "text");
		}
	}

	.profile-bottom{
		.column{
			background: map-deep-get($colors, "dark", "profile", "bottom", "background");
			color: map-deep-get($colors, "dark", "profile", "bottom", "text");
		}

		.column:hover{
			background: map-deep-get($colors, "dark", "profile", "bottom", "hover");
			color: map-deep-get($colors, "dark", "profile", "bottom", "hoverText");

			&.no-hover{
				background: map-deep-get($colors, "dark", "profile", "bottom", "background");
				color: map-deep-get($colors, "dark", "profile", "bottom", "text");
			}
		}
	}

	.button.is-profile{
		background-color: map-deep-get($colors, "dark", "profile", "themeButton", "background");
		border-color: map-deep-get($colors, "dark", "profile", "themeButton", "border");
		color: map-deep-get($colors, "dark", "profile", "themeButton", "color");
	}
}