body.theme-dark{
	.profile-top{
		background: map-deep-get($colors, "dark", "profile", "top", "background");
		color: map-deep-get($colors, "dark", "profile", "top", "text");

		.title, .subtitle{
			color: map-deep-get($colors, "dark", "profile", "top", "text");
		}
	}

	.profile-bottom{
		.column{
			background: map-deep-get($colors, "dark", "profile", "bottom", "background");
			color: map-deep-get($colors, "dark", "profile", "bottom", "text");
		}

		.title, .subtitle{
			color: map-deep-get($colors, "dark", "profile", "top", "text");
		}

		.column:hover{
			background: map-deep-get($colors, "dark", "profile", "bottom", "hover");
			color: map-deep-get($colors, "dark", "profile", "bottom", "hoverText");

			&.no-hover{
				background: map-deep-get($colors, "dark", "profile", "bottom", "background");
				color: map-deep-get($colors, "dark", "profile", "bottom", "text");
			}
		}
	}

	.button.is-profile{
		background-color: map-deep-get($colors, "dark", "profile", "themeButton", "background");
		border-color: map-deep-get($colors, "dark", "profile", "themeButton", "border");
		color: map-deep-get($colors, "dark", "profile", "themeButton", "color");
	}

	.user-settings {
		.user-modal-form-group{
			&.has-error{
				input{
					border-bottom: 1px solid map-deep-get($colors, "dark", "profile", "settings", "account", "input", "error", "border-bottom");
				}
			}
		}

		.tabs{
			ul{
				border-bottom-color: map-deep-get($colors, "dark", "profile", "settings", "tabs", "border");
			
				li {
					a {
						color: map-deep-get($colors, "dark", "profile", "settings", "tabs", "text-color");
					
						&:hover{
							border-bottom-color: map-deep-get($colors, "dark", "profile", "settings", "tabs", "hover", "border-color");
							color: map-deep-get($colors, "dark", "profile", "settings", "tabs", "hover", "text-color");
						}
					}

					&.is-active{
						a {
							border-bottom-color: map-deep-get($colors, "dark", "profile", "settings", "tabs", "active", "border-color");
							color: map-deep-get($colors, "dark", "profile", "settings", "tabs", "active", "text-color");
						}
					}

					
				}
			}
		}
	}
}