body.theme-dark{

	#gameTable{
		background-color: map-deep-get($colors, "dark", "questionTable", "background");
		color: map-deep-get($colors, "dark", "questionTable", "color");

		tbody {
			tr {
				td {
					&:hover{
						background-color: map-deep-get($colors, "dark", "questionTable", "hover");
						color: map-deep-get($colors, "dark", "questionTable", "color");
					}

					&:active{
						background-color:map-deep-get($colors, "dark", "questionTable", "active");
						color: map-deep-get($colors, "dark", "questionTable", "color");
					}

					&[data-revealed="true"]{
						background-color: map-deep-get($colors, "dark", "questionTable", "hover");
						color: map-deep-get($colors, "dark", "questionTable", "color");
					}
				}
			}
		}


		thead {
			tr {
				th {
					background-color: map-deep-get($colors, "dark", "questionTable", "header", "background");
					color: map-deep-get($colors, "dark", "questionTable", "header", "text");
				}
			}
		}
	}

	@media screen and (max-width: 600px) {
		table tr {
			border-bottom: 3px solid map-deep-get($colors, "dark", "questionTable", "mobile", "border");
		}
		
		table td {
			border-bottom: 1px solid map-deep-get($colors, "dark", "questionTable", "mobile", "border");
		}
	}

	#game-question-area{
		.card-content{
			background-color: map-deep-get($colors, "dark", "questionCard", "background");
			color: map-deep-get($colors, "dark", "questionCard", "text");

			.title{
				color: map-deep-get($colors, "dark", "questionCard", "text");
			}
		}
	}
}