@import 'variables';

body.theme-dark{

	#gameTable{
		width: 100%;
		background-color: $theme-dark-gameTable-background;
		color: $theme-dark-gameTable-color;

		tbody {
			tr {
				td {
					border: 0;
					transition: all 0.3s;

					&:hover{
						cursor: pointer;
						background-color: $theme-dark-gameTable-hover-color;
						color: $theme-dark-gameTable-text-color;
					}

					&:active{
						background-color: $theme-dark-gameTable-active-color;
						color: $theme-dark-gameTable-text-color;
					}

					&[data-revealed="true"]{
						background-color: $theme-dark-gameTable-hover-color;
						color: $theme-dark-gameTable-text-color;
					}
				}
			}
		}


		thead {
			tr {
				th {
					border: 0;
					background-color: $theme-dark-gameTable-header-background;
					color: $theme-dark-gameTable-header-text-color;
					font-weight: 400;
				}
			}
		}
	}

	@media screen and (max-width: 600px) {
		table {
			border: 0;
		}

		table caption {
			font-size: 1.3em;
		}
		
		table thead {
			border: none;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		
		table tr {
			border-bottom: 3px solid $theme-dark-gameTable-mobile-border;
			display: block;
			margin-bottom: .625em;
		}
		
		table td {
			border-bottom: 1px solid $theme-dark-gameTable-mobile-border;
			display: block;
			font-size: .8em;
			text-align: right;
		}
		
		table td::before {
			/*
			* aria-label has no advantage, it won't be read inside a table
			content: attr(aria-label);
			*/
			content: attr(data-label);
			float: left;
			font-weight: bold;
			text-transform: uppercase;
		}
		
		table td:last-child {
			border-bottom: 0;
		}
	}

	#game-question-area{
		.card-content{
			background-color: $theme-dark-question-card-background;
			color: $theme-dark-question-card-text;
			font-weight: 300;

			.title{
				color: $theme-dark-question-card-text;
				font-weight: 300;
			}
		}
	}
}