body.theme-dark{

	.user-modal-overlay, .user-modal-form-panel.one:before {
		background: map-deep-get($colors, "dark", "userForm", "overlay", "background");
	}

	.user-modal-form {
		background: map-deep-get($colors, "dark", "userForm", "overlay", "background");
		box-shadow: 0 0 30px map-deep-get($colors, "dark", "userForm", "overlay", "boxShadow");
	}

	.user-modal-form-toggle {
		background: map-deep-get($colors, "dark", "userForm", "modal", "background");
		&:before, &:after {
			background: map-deep-get($colors, "dark", "userForm", "modal", "toggle", "background");
		}
	}

	.user-modal-form-group {
		color: map-deep-get($colors, "dark", "userForm", "modal", "input", "color");

		label {
			color: map-deep-get($colors, "dark", "userForm", "modal", "input", "color");
		}
	}

	.two .user-modal-form-group label {
		color: map-deep-get($colors, "dark", "userForm", "modal", "label", "color");
	}

	.user-modal-form-group input {
		color: map-deep-get($colors, "dark", "userForm", "modal", "input", "color");
	}

	.two .user-modal-form-group input {
		color: map-deep-get($colors, "dark", "userForm", "modal", "input", "color");
		&:focus {
			color: map-deep-get($colors, "dark", "userForm", "modal", "input", "color");
		}
	}

	.user-modal-form-group button {
		background: map-deep-get($colors, "dark", "userForm", "modal", "button", "background");
		color: map-deep-get($colors, "dark", "userForm", "modal", "button", "color");
	}

	.two .user-modal-form-group button {
		background: map-deep-get($colors, "dark", "userForm", "modal", "button", "background");
		color: map-deep-get($colors, "dark", "userForm", "modal", "button", "color");
	}

	.user-modal-form-group {
		.user-modal-form-recovery {
			color: map-deep-get($colors, "dark", "userForm", "modal", "recovery", "color");
		}
	}

	.user-modal-form-panel {
		&.two {
			background: map-deep-get($colors, "dark", "userForm", "modal", "panelTwo", "background");
		}
	}

	.form-panel.two:hover:after {
		opacity: 0;
	}

	.user-modal-form-header {
		h1 {
			color: map-deep-get($colors, "dark", "userForm", "modal", "header", "color");
		}

		.user-modal-error{
			color: map-deep-get($colors, "dark", "userForm", "modal", "errorColor");
		}

		.user-modal-success{
			color:  map-deep-get($colors, "dark", "userForm", "modal", "successColor");
		}
	}

	.two .user-modal-form-header {
		h1, h6{
			color: map-deep-get($colors, "dark", "userForm", "modal", "panelTwo", "header", "color");
		}
	}

	/**
	 * Userform checkbox
	 */

	.md-checkbox {
		label {
			&:before {
				background: map-deep-get($colors, "dark", "mdCheckbox", "checkbox", "background");
			}
		}
		input[type="checkbox"] {
			&:checked + label {
				&:before {
					background: map-deep-get($colors, "dark", "mdCheckbox", "checkbox", "checkedLabelBg");
				}
				&:after {
					border: 2px solid map-deep-get($colors, "dark", "mdCheckbox", "checkbox", "checkedLabelBorder");
				}
			}
		}
	}

	#privacyLink {
		color: map-deep-get($colors, "dark", "mdCheckbox", "privacyLink", "color");
		&:hover{
			color:map-deep-get($colors, "dark", "mdCheckbox", "privacyLink", "hover");
		}
	}
}