@import 'variables';

body.theme-dark{

	.user-modal-overlay, .user-modal-form-panel.one:before {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		background: map-deep-get($colors, "dark", "userForm", "overlay", "background");
		width: 100%;
		height: 100%;
	}

	.user-modal-form {
		z-index: 15;
		position: relative;
		background: map-deep-get($colors, "dark", "userForm", "overlay", "background");
		max-width: 600px;
		border-radius: 4px;
		box-shadow: 0 0 30px map-deep-get($colors, "dark", "userForm", "overlay", "boxShadow");
		box-sizing: border-box;
		margin: 100px auto 10px;
		overflow: hidden;
	}

	@media screen and (max-width: 1088px){
		#user-modal {
			.modal-content {
				width: unset;
			}
		}
	}

	//width: 0;

	.user-modal-form-toggle {
		z-index: 10;
		position: absolute;
		top: 60px;
		right: 60px;
		background: map-deep-get($colors, "dark", "userForm", "modal", "background");
		width: 60px;
		height: 60px;
		border-radius: 100%;
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: translate(0, -25%) scale(0);
		transform: translate(0, -25%) scale(0);
		opacity: 0;
		cursor: pointer;
		transition: all 0.3s ease;
		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 30px;
			height: 4px;
			background: map-deep-get($colors, "dark", "userForm", "modal", "toggle", "background");
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
		&:before {
			-webkit-transform: translate(-50%, -50%) rotate(45deg);
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			-webkit-transform: translate(-50%, -50%) rotate(-45deg);
			transform: translate(-50%, -50%) rotate(-45deg);
		}
		&.visible {
			-webkit-transform: translate(0, -25%) scale(1);
			transform: translate(0, -25%) scale(1);
			opacity: 1;
		}
	}

	.user-modal-form-group {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 0 20px;
		color: map-deep-get($colors, "dark", "userForm", "modal", "input", "color");

		&:last-child {
			margin: 0;
		}
		label {
			display: block;
			color: rgba(0, 0, 0, 0.6);
			font-size: 12px;
			font-weight: 500;
			line-height: 1;
			text-transform: uppercase;
			letter-spacing: .2em;

			color: map-deep-get($colors, "dark", "userForm", "modal", "input", "color");
		}
	}

	.two .user-modal-form-group label {
		color: map-deep-get($colors, "dark", "userForm", "modal", "label", "color");
	}

	.user-modal-form-group input {
		outline: none;
		display: block;
		background: rgba(0, 0, 0, 0.1);
		width: 100%;
		border: 0;
		border-radius: 4px;
		box-sizing: border-box;
		padding: 12px 20px;
		color: rgba(0, 0, 0, 0.6);
		font-family: inherit;
		font-size: inherit;
		font-weight: 500;
		line-height: inherit;
		transition: 0.3s ease;
		&:focus {
			color: rgba(255, 255, 255, 0.8);
		}

		color: map-deep-get($colors, "dark", "userForm", "modal", "input", "color");
	}

	.two .user-modal-form-group input {
		color: map-deep-get($colors, "dark", "userForm", "modal", "input", "color");
		&:focus {
			color: map-deep-get($colors, "dark", "userForm", "modal", "input", "color");
		}
	}

	.user-modal-form-group button {
		outline: none;
		background: map-deep-get($colors, "dark", "userForm", "modal", "button", "background");
		width: 100%;
		border: 0;
		border-radius: 4px;
		padding: 12px 20px;
		color: map-deep-get($colors, "dark", "userForm", "modal", "button", "color");
		font-family: inherit;
		font-size: inherit;
		font-weight: 500;
		line-height: inherit;
		text-transform: uppercase;
		cursor: pointer;
	}

	.two .user-modal-form-group button {
		background: map-deep-get($colors, "dark", "userForm", "modal", "button", "background");
		color: map-deep-get($colors, "dark", "userForm", "modal", "button", "color");
	}

	.user-modal-form-group {
		.user-modal-form-remember {
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 0;
			text-transform: none;
			input[type='checkbox'] {
				display: inline-block;
				width: auto;
				margin: 0 10px 0 0;
			}
		}
		.user-modal-form-recovery {
			color: map-deep-get($colors, "dark", "userForm", "modal", "recovery", "color");
			font-size: 12px;
			text-decoration: none;
		}
	}

	.user-modal-form-panel {
		padding: 60px calc(5% + 60px) 60px 60px;
		box-sizing: border-box;
		&.one {
			&:before {
				content: '';
				display: block;
				opacity: 0;
				visibility: hidden;
				transition: 0.3s ease;
			}
			&.hidden:before {
				display: block;
				opacity: 1;
				visibility: visible;
			}
		}
		&.two {
			z-index: 5;
			position: absolute;
			top: 0;
			left: 95%;
			background: map-deep-get($colors, "dark", "userForm", "modal", "panelTwo", "background");
			width: 100%;
			min-height: 100%;
			padding: 60px calc(10% + 60px) 60px 60px;
			transition: 0.3s ease;
			cursor: pointer;
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 60px;
				left: 1.5%;
				background: rgba(255, 255, 255, 0.2);
				height: 30px;
				width: 2px;
				transition: 0.3s ease;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 60px;
				left: 1.5%;
				background: rgba(255, 255, 255, 0.2);
				height: 30px;
				width: 2px;
				transition: 0.3s ease;
				left: 3%;
			}
			&:hover {
				left: 93%;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
				&:before {
					opacity: 0;
				}
			}
		}
	}

	.form-panel.two:hover:after {
		opacity: 0;
	}

	.user-modal-form-panel.two.active {
		left: 10%;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		cursor: default;
		&:before {
			opacity: 0;
		}
	}

	.form-panel.two.active:after {
		opacity: 0;
	}

	.user-modal-form-header {
		margin: 0 0 40px;
		h1 {
			padding: 4px 0;
			color: map-deep-get($colors, "dark", "userForm", "modal", "header", "color");
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
		}

		.user-modal-error{
			color: map-deep-get($colors, "dark", "userForm", "modal", "errorColor");
		}

		.user-modal-success{
			color:  map-deep-get($colors, "dark", "userForm", "modal", "successColor");
		}
	}

	.two .user-modal-form-header {
		h1, h6{
			color: map-deep-get($colors, "dark", "userForm", "modal", "panelTwo", "header", "color");
		}

		h1 {
			position: relative;
			z-index: 40;
		}
	}

	.user-modal-form-remember > input {
		position: unset !important;
		opacity: unset !important;
	}

	#user-modal {
		z-index: 20000000;
	}

	/**
	 * Userform checkbox
	 */

	#privacyAgree {
		opacity: unset;
		pointer-events: auto;
		width: unset;
	}

	[type="checkbox"] {
		&:not(:checked), &:checked {
			left: 0px;
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
	}

	label[for="privacyAgree"] {
		margin-left: 10%;
	}

	.privacyAgreementHolder {
		justify-content: unset;
	}

	.md-checkbox {
		position: relative;
		text-align: left;
		label {
			&:before, &:after {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
			}
			&:before {
				width: 20px;
				height: 20px;
				border: 2px solid rgba(0, 0, 0, 0.54);
				background: map-deep-get($colors, "dark", "mdCheckbox", "checkbox", "background");
				border-radius: 2px;
				cursor: pointer;
				transition: background .3s;
			}
		}
		input[type="checkbox"] {
			outline: 0;
			margin-right: 10px;
			visibility: hidden;
			&:checked + label {
				&:before {
					background: map-deep-get($colors, "dark", "mdCheckbox", "checkbox", "checkedLabelBg");
					border: none;
				}
				&:after {
					transform: rotate(-45deg);
					top: 5px;
					left: 4px;
					width: 12px;
					height: 6px;
					border: 2px solidmap-deep-get($colors, "dark", "mdCheckbox", "checkbox", "checkedLabelBorder");
					border-top-style: none;
					border-right-style: none;
				}
			}
			&:disabled {
				+ label:before {
					border-color: rgba(0, 0, 0, 0.26);
				}
				&:checked + label:before {
					background: rgba(0, 0, 0, 0.26);
				}
			}
		}
	}

	#privacyLink {
		color: map-deep-get($colors, "dark", "mdCheckbox", "privacyLink", "color");
		&:hover{
			color:map-deep-get($colors, "dark", "mdCheckbox", "privacyLink", "hover");
		}
	}

	#register-trigger-holder {
		text-align: right;
		justify-content: flex-end;
	}
}