// --------------------------- \\
//       Chat

$theme-dark-chat-input-shadow: rgba(10, 10, 10, 0.1);
$theme-dark-chat-button-background: #8BC34A;
$theme-dark-chat-button-text: #FFF;
$theme-dark-chat-button-background-hover: #7CB342;
$theme-dark-chat-button-background-active: #689F38;

$theme-dark-chat-container-background: #757575;

$theme-dark-chat-message-even-background: #424242;
$theme-dark-chat-message-odd-background: #616161;

$theme-dark-chat-message-even-color: #FFF;
$theme-dark-chat-message-odd-color: #FFF;

// --------------------------- \\
//      MDL Input

$theme-dark-mdl-input-bg-color: #424242;
$theme-dark-mdl-input-title-color: #FFF;
$theme-dark-mdl-input-hl-color: #4CAF50;
$theme-dark-mdl-input-text-color: #FFF;

// --------------------------- \\
//       Profile

$theme-dark-profile-top-background: #616161;
$theme-dark-profile-top-text: #FFF;

$theme-dark-profile-bottom-background: #757575;
$theme-dark-profile-bottom-hover: #424242;
$theme-dark-profile-bottom-hover-text: #FFF;
$theme-dark-profile-bottom-text: #FFF;

// --------------------------- \\
//       Question Table

$theme-dark-gameTable-hover-color: #E53935;
$theme-dark-gameTable-active-color: #D32f2f;
$theme-dark-gameTable-text-color: #FFF;

$theme-dark-gameTable-header-text-color: #FFF;
$theme-dark-gameTable-header-background: #F44336;

// Question table Game Question

$theme-dark-question-card-background: #FF9800;
$theme-dark-question-card-text: #FFF;

$theme-dark-gameTable-background: #363636;
$theme-dark-gameTable-color: #FFF;

// Mobile Game Table

$theme-dark-gameTable-mobile-border: #ddd;

// --------------------------- \\
//       User Form

$theme-dark-user-modal-background: #616161;
$theme-dark-user-modal-toggle-background-bafter: #757575;

$theme-dark-user-modal-label-color: #FFF;
$theme-dark-user-modal-form-input-color: #FFF;
$theme-dark-user-modal-form-button-color: #FFF;
$theme-dark-user-modal-form-button-background: #757575;

$theme-dark-user-modal-recovery-color: #FFF;

$theme-dark-user-modal-form-header-color: #FFF;
$theme-dark-user-modal-error-color: #F44336;
$theme-dark-user-modal-success-color: #4CAF50;

$theme-dark-user-modal-panel-two-background: #424242;
$theme-dark-user-modal-panel-two-header-color: #FFF;

$theme-dark-user-modal-panel-one-form-input-color: #FFF;

//       MD Checkbox

$theme-dark-md-checkbox-background: #FFF;
$theme-dark-md-checkbox-checked-label-before-bg: #8BC34A;
$theme-dark-md-checkbox-checked-label-border-color: #FFF;

$theme-dark-md-privacyLink-color: #FFF;
$theme-dark-md-privacyLink-hover-color: #BBDEFB;

// --------------------------- \\
//       Alerts

$theme-dark-alert-danger: #F44336;
$theme-dark-alert-danger-text: #FFF;

// --------------------------- \\
//       Main Stuff

$theme-dark-primary-color: #FF9800;
$theme-dark-primary-color-dark: #FB8C00;
$theme-dark-navbar-text: #FFF;
$theme-dark-background-color: #757575;
$theme-dark-gameCodeHeader-text: #FFF;

$theme-dark-instructions-container-color: #FFF;

// --------------------------- \\
//       User Card

$theme-dark-user-card-background: #4a4a4a;
$theme-dark-user-card-color: #FFF;