@import 'mdlInput';
@import 'profile';
@import 'userForm';
@import 'questionTable';
@import 'chat';
@import 'colorPicker';
@import 'FAB';
@import 'gameBrowser';
@import 'onoffswitch';
@import 'boardAdder';
@import 'errorIcon';

body{
	&.theme-dark{
		background: map-deep-get($colors, "dark", "general", "background");

		.alert.alert-danger{
			background-color: map-deep-get($colors, "dark", "alert", "danger", "background");
			color: map-deep-get($colors, "dark", "alert", "danger", "text");
		}

		.alert.alert-success{
			background-color: map-deep-get($colors, "dark", "alert", "success", "background");
			color: map-deep-get($colors, "dark", "alert", "success", "text");
		}

		#instructions-container{
			* {
				color: map-deep-get($colors, "dark", "general", "instructionsContainer", "color");
			}
		}

		.navbar {
			background: map-deep-get($colors, "dark", "general", "primaryColor");
			
			.navbar-link::after{
				border-color: map-deep-get($colors, "dark", "general", "navbar", "text");
			}

			.navbar-link:hover::after{
				border-color: map-deep-get($colors, "dark", "general", "navbar", "text");
			}
		}

		.navbar-burger{
			span {
				color: map-deep-get($colors, "dark", "general", "navbar", "text");
			}
		}

		@media screen and (min-width: 1088px){
			.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active{
				background-color: map-deep-get($colors, "dark", "general", "primaryColorDark");
			}

			.navbar {
				.user-link {
					color: map-deep-get($colors, "dark", "general", "navbar", "text");
				}

				a.navbar-item{
					color: map-deep-get($colors, "dark", "general", "navbar", "text");
				}

				a.navbar-item.dark-background:hover{
					background-color: map-deep-get($colors, "dark", "general", "primaryColorDark");
				}
			}
		}

		#gameCodeHeader{
			color: map-deep-get($colors, "dark", "general", "gameCodeHeader", "text");
		}

		.user-card{
			.card{
				background-color: map-deep-get($colors, "dark", "userCard", "background");
				* {
					color: map-deep-get($colors, "dark", "userCard", "color");
				}
			}
		}

		.swal-modal {
			background-color: map-deep-get($colors, "dark", "general", "swal", "background");
		}

		.swal-title, .swal-text{
			color: map-deep-get($colors, "dark", "general", "swal", "color");
		}

		.swal-icon--success:before, .swal-icon--success:after, .swal-icon--success__hide-corners {
			background: map-deep-get($colors, "dark", "general", "swal", "background");
		}

		.board-button{
			&.selected{
				background: map-deep-get($colors, "dark", "general", "primaryColor") !important;
			}
		}

		#root{
			.App{
				.scroll-wrapper{
					.scroller{
						&::-webkit-scrollbar-track{
							-webkit-box-shadow: inset 0 0 6px map-deep-get($colors, "dark", "general", "scrollbar", "track", "boxShadow");
							background-color: map-deep-get($colors, "dark", "general", "scrollbar", "track", "background");
						}

						&::-webkit-scrollbar{
							background-color: map-deep-get($colors, "dark", "general", "scrollbar", "background");
						}

						&::-webkit-scrollbar-thumb{
							-webkit-box-shadow: inset 0 0 6px map-deep-get($colors, "dark", "general", "scrollbar", "thumb", "boxShadow");
							background-color: map-deep-get($colors, "dark", "general", "scrollbar", "thumb", "background");
						}
					}
				}
			}
		}

		*::-webkit-scrollbar-track{
			-webkit-box-shadow: inset 0 0 6px map-deep-get($colors, "dark", "general", "scrollbar", "track", "boxShadow");
			background-color: map-deep-get($colors, "dark", "general", "scrollbar", "track", "background");
		}

		*::-webkit-scrollbar{
			background-color: map-deep-get($colors, "dark", "general", "scrollbar", "background");
		}

		*::-webkit-scrollbar-thumb{
			-webkit-box-shadow: inset 0 0 6px map-deep-get($colors, "dark", "general", "scrollbar", "thumb", "boxShadow");
			background-color: map-deep-get($colors, "dark", "general", "scrollbar", "thumb", "background");
		}
	}
}