@import "variables";

/**
 * Chat styles
 */

.chat-message-container {
	display: flex;
	align-items: center;
	width: 100%;
}

.chat-message {
	word-break: break-all;

	&::before {
		content: "\A";
		white-space: pre;
	}
}

#chat-container {
	/*margin-left: 5px;*/
	width: 100%;
	background-color: map-deep-get($colors, "light", "chat", "container", "background");
}

.chat-image {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-repeat: no-repeat;
}

.chat-sender {
	font-weight: bold;
}

#chat-messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	height: calc(100vh - 30vh);
	li {
		padding: 5px 10px;

		background-color: map-deep-get($colors, "light", "chat", "message", "even", "background");
		color: map-deep-get($colors, "light", "chat", "message", "even", "color");

		&:nth-child(odd) {
			background-color: map-deep-get($colors, "light", "chat", "message", "odd", "background");
			color: map-deep-get($colors, "light", "chat", "message", "odd", "color");
		}

		&.chatBottom{
			background-color: map-deep-get($colors, "light", "chat", "container", "background");
		}
	}
}

.message-wrap{
	width: 100%;

	&[data-system='false'] {
		padding-left: 3%;
	}
}

.chat-input{
	.field{
		.control{
			&:first-of-type{
				width: 100%;
			}

			.button .icon:first-child:last-child {
			     margin-left: 0;
			     margin-right: 0;
			}

			.input{
				box-shadow: 0 1px 2px map-deep-get($colors, "light", "chat", "inputShadow");
			}
		}
	}

	.button, .input {
		border-radius: 0px;
		outline: none;
	}

	.button{
		background-color: map-deep-get($colors, "light", "chat", "button", "background", "normal");
		border-color: transparent;
		color: map-deep-get($colors, "light", "chat", "button", "text");
		transition: all 0.3s ease;

		&:hover{
			background-color: map-deep-get($colors, "light", "chat", "button", "background", "hover");
		}

		&:active{
			background-color: map-deep-get($colors, "light", "chat", "button", "background", "active");
		}
	}

	.input{

		&:active{
			border-color: unset;
		}

		&:focus{
			box-shadow: unset;
		}
	}
}

#emoji-picker-toggle{
	pointer-events: all;

	&:hover{
		cursor: pointer;
		background-color: map-deep-get($colors, "light", "chat", "button", "background", "normal");
		color: map-deep-get($colors, "light", "chat", "button", "text");
		transition: all 0.3s ease;
	}
	transition: all 0.3s ease;
}

.emoji-mart{
	position: absolute !important;
	bottom: 35px;
	width: 100%;

	.emoji-mart-bar{
		border-bottom-width: 0px;
	}

	.emoji-mart-search{
		margin-top: 6px;
		padding: 0 6px;
		margin-bottom: 6px;

		input{
			-moz-appearance: none;
			-webkit-appearance: none;
			align-items: center;
			box-shadow: none;
			display: inline-flex;
			font-size: 1rem;
			height: 2.25em;
			justify-content: flex-start;
			line-height: 1.5;
			padding-bottom: calc(0.375em - 1px);
			padding-left: calc(0.625em - 1px);
			padding-right: calc(0.625em - 1px);
			padding-top: calc(0.375em - 1px);
			position: relative;
			vertical-align: top;
			border-radius: 0px;

			&:active, &:focus {
				border-color: unset;
				border-color: #3273dc;
				box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
			}
		}
	}
}

.emoji{
	width: 32px;
}