@import 'variables.scss';

.gamebrowser{
	overflow-y: hidden;

	max-height: 55vh;

	&__table{
		width: 100%;

		background-color: $gamebrowser-header-background;
		color: $gamebrowser-header-color;
	
		tbody{
			display: block;
			overflow-y: scroll;
			max-height: 40vh;

			tr {
				transition: all .5s;
				-webkit-transition: all .5s;
				-moz-transition: .5s all;
				-o-transition: .5s all;
				
				color: $gamebrowser-color;
				background: $gamebrowser-background;

				&:nth-child(odd) {
					background: $gamebrowser-odd-background;
				}
				
				&:hover{
					cursor: pointer;
					background: $gamebrowser-hover;
					color: $gamebrowser-hover-text;
				}

				
			}
		}

		td{
			border: none;
		}

		thead, tbody tr {
			display:table;
			width:100%;
			table-layout:fixed;
		}

		thead {
			width: calc( 100% - 1em );
			tr {
				th {
					color: $gamebrowser-header-color;
					font-weight: 400;
				}
			}
		}
	}
}

.gameBrowser-button-holder{
	width: 100% !important;
	margin: 0 !important;

	button{
		width: 100%;
		cursor: pointer;
		margin: 0;
	}

	#hostButton{
		margin-bottom: 10%;
	}
}