// --------------------------- \\
//       Chat

$chat-input-shadow: rgba(10, 10, 10, 0.1);
$chat-button-background: #8BC34A;
$chat-button-text: #FFF;
$chat-button-background-hover: #7CB342;
$chat-button-background-active: #689F38;

$chat-container-background: #FFF;

// --------------------------- \\
//      MDL Input

$mdl-input-bg-color: #424242;
$mdl-input-title-color: #000;
$mdl-input-hl-color: #4CAF50;

// --------------------------- \\
//       Profile

$profile-top-background: #8BC34A;
$profile-top-text: #212121;

$profile-bottom-background: #FFF;
$profile-bottom-hover: #689F38;
$profile-bottom-hover-text: #212121;

// Theme button

$profile-theme-button-background: whitesmoke;
$profile-theme-button-border-color: #dbdbdb;
$profile-theme-button-color: #7a7a7a;

// --------------------------- \\
//       Question Table

$gameTable-hover-color: #E53935;
$gameTable-active-color: #D32f2f;
$gameTable-text-color: #FFF;

$gameTable-header-text-color: #FFF;
$gameTable-header-background: #F44336;

// Question table Game Question

$question-card-background: #FF9800;
$question-card-text: #FFF;

// Mobile Game Table

$gameTable-mobile-border: #ddd;

// --------------------------- \\
//       User Form

$user-modal-background: #FFF;
$user-modal-toggle-background-bafter: #4285F4;

$user-modal-label-color: #FFF;
$user-modal-form-input-color: #FFF;
$user-modal-form-button-color: #FFF;
$user-modal-form-button-background: #4285F4;

$user-modal-recovery-color: #4285F4;

$user-modal-form-header-color: #4285F4;
$user-modal-error-color: #F44336;
$user-modal-success-color: #4CAF50;

$user-modal-panel-two-background: #4285F4;
$user-modal-panel-two-header-color: #FFF;

//       MD Checkbox

$md-checkbox-background: #FFF;
$md-checkbox-checked-label-before-bg: #8BC34A;
$md-checkbox-checked-label-border-color: #FFF;

$md-privacyLink-color: #FFF;
$md-privacyLink-hover-color: #BBDEFB;

// --------------------------- \\
//       Alerts

$alert-danger: #F44336;
$alert-danger-text: #FFF;

// --------------------------- \\
//       Main Stuff

$primary-color: #FF9800;
$primary-color-dark: #FB8C00;
$navbar-text: #FFF;
$background-color: #FFF;
$gameCodeHeader-text: #FFF;

// --------------------------- \\
//       User Card

$user-card-background: #FFFFFF;
$user-card-color: #4a4a4a;

// --------------------------- \\
//       Color Picker

$color-picker-background: #FFF;
$color-picker-box-shadow: 0 1px 5px #ccc;
$color-picker-panel-border: 1px solid #ccc;

// --------------------------- \\
//       FAB

$FAB-icon-background: #ff4081;
$FAB-icon-color: #FFF;

$FAB-text-show-background: #212121;
$FAB-text-show-color: #FFF;