$primary-color: #FF9800;
$primary-color-dark: #FB8C00;
$navbar-text: #FFF;

// Alerts

$alert-danger: #F44336;

// End Alerts

// Profile

/*
$profile-top-background: #8BC34A;
$profile-top-text: #000;

$profile-bottom-background: #FFF;
$profile-bottom-hover: #7CB342;//$profile-top-background;
$profile-bottom-hover-text: #FFF*/

$profile-top-background: #8BC34A;
$profile-top-text: #212121;

$profile-bottom-background: #FFF;
$profile-bottom-hover: #689F38;//$profile-top-background;
$profile-bottom-hover-text: #212121;

