@import 'variables.scss';
@import 'mdlInput';
@import 'profile';
@import 'userForm';
@import 'questionTable';
@import 'chat';
@import 'colorPicker';
@import 'FAB';
@import 'gameBrowser';
@import 'onoffswitch';
@import 'boardAdder';
@import 'collapsible';

@import '../dark/main.scss';

html, body{
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	background: map-deep-get($colors, "light", "general", "background");
}


.alert{
	padding-top: 5px;
	padding-bottom: 5px;
}

.alert.alert-danger{
	background-color: map-deep-get($colors, "light", "alert", "danger", "background");
	color: map-deep-get($colors, "light", "alert", "danger", "text");
}

.alert.alert-success{
	background-color: map-deep-get($colors, "light", "alert", "success", "background");
	color: map-deep-get($colors, "light", "alert", "success", "text");
}

.hidden {
	display: none;
}

.full-width{
	width: 100%;
}

#beforeGame{
	//padding-bottom: 0px;
}

#instructions-container{
	width: 90%;

	* {
		font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
		font-weight: 300;
	}
}

.navbar {
	background: map-deep-get($colors, "light", "general", "primaryColor");
	
	.navbar-link::after{
		border-color: map-deep-get($colors, "light", "general", "navbar", "text");
	}

	.navbar-link:hover::after{
		border-color: map-deep-get($colors, "light", "general", "navbar", "text");
	}

	.navbar-item{
		font-size: 1rem;
	}
}

.navbar-burger{
	span {
		color: map-deep-get($colors, "light", "general", "navbar", "text");
	}
}

@media screen and (min-width: 1088px){
	.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active{
		background-color: map-deep-get($colors, "light", "general", "primaryColorDark");
	}

	.navbar {
		.user-link {
			color: map-deep-get($colors, "light", "general", "navbar", "text");
		}

		a.navbar-item{
			color: map-deep-get($colors, "light", "general", "navbar", "text");
		}

		a.navbar-item.dark-background:hover{
			background-color: map-deep-get($colors, "light", "general", "primaryColorDark");
		}

		a.navbar-item.no-background:hover{
			background-color: map-deep-get($colors, "light", "general", "primaryColor");
		}
	}
}

@media screen and (max-width: 1088px){
	.navbar-item {
		a {
			color: unset;
		}
	}

	.navbar-brand {
		.navbar-item {
			img {
				max-height: 0.9rem;
			}
		}
	}
}

#playButton{
	width: 100%;
	cursor: pointer;
}

.loader-holder ~ body{
	overflow: none;
}

.absolute-center{
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}

.loader-holder {
	z-index: 10000000;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.6);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	&.is-fixed{
		position: fixed;
	}
}

.column {
	&.user-card{
		flex-grow: 0;
	}
}

.image{
	&.is-192x192{
		width: 192px;
		height: 192px;
	}
}

.user-card{
	.card{
		background-color: map-deep-get($colors, "light", "userCard", "background");
		* {
			color: map-deep-get($colors, "light", "userCard", "color");
		}
	}
}

#gameCodeHeader{
	color: map-deep-get($colors, "light", "general", "gameCodeHeader", "text");
}

.swatch{
	width: 32px;
	height: 32px;
	display: inline-block;
	border-radius: 5px;
	margin: 2px;
}

.swatch-overlay{
	width: 32px;
	height: 32px;
	display: inline-block;
	border-radius: 5px;

	transition: all 0.3s ease;

	text-align: center;
	vertical-align: middle;

	.icon{
		opacity: 1;
		transition: all 0.3s ease;
		color: #FFF;

		position: relative;
		left: 12px;
		top: 50%;
		transform: translate(-50%,-50%);
	}

	&:hover{
		background: rgba(0, 0, 0, .3);
		cursor: pointer;

		.icon{
			transition: all 0.3s ease;
			opacity: 0;
		}
	}

	&.swatch-color-picker{
		.icon{
			opacity: 1;
		}

		&:hover{
			background: rgba(0, 0, 0, .3);
			cursor: pointer;

			.icon{
				transition: all 0.3s ease;
				opacity: 0;
			}
		}
	}
}

.rc-color-picker-wrap{
	&.rc-color-picker-open{
		.swatch-overlay{
			&.swatch-color-picker{
				.icon{
					opacity: 0;
				}
			}
		}
	}
}

.swal-modal {
	background-color: #FFF;
}

.swal-title, .swal-text{
	color: rgba(0,0,0,.65);
}

#root{
	height: 100%;

	.App{
		height: 100%;

		.scroll-wrapper{
			height: 100%;

			.scroller{
				overflow-y: scroll;
				height: 100%;

				&::-webkit-scrollbar-track{
					-webkit-box-shadow: inset 0 0 6px map-deep-get($colors, "light", "general", "scrollbar", "track", "boxShadow");
					//border-radius: 10px;
					background-color: map-deep-get($colors, "light", "general", "scrollbar", "track", "background");
				}

				&::-webkit-scrollbar{
					width: 12px;
					background-color: map-deep-get($colors, "light", "general", "scrollbar", "background");
				}

				&::-webkit-scrollbar-thumb{
					//border-radius: 10px;
					-webkit-box-shadow: inset 0 0 6px map-deep-get($colors, "light", "general", "scrollbar", "thumb", "boxShadow");
					background-color: map-deep-get($colors, "light", "general", "scrollbar", "thumb", "background");
				}
			}
		}
	}
}

.pointer-cursor{
	cursor: pointer;
}

.boardID{
	width: 100%;
}

.copy-notification{
	width: 100%;

	transition: opacity 1s ease-in-out;
	opacity: 100;

	display: inline !important;

	&.hidden{
		display: inline !important;
		opacity: 0;
		transition: opacity 1s ease-in-out;
	}
}